@tailwind base;
@tailwind components;
@tailwind utilities;

.horizontal-slider {
  width: 80%;
  height: 40px;
  margin: 20px auto;
}

.example-track {
  top: 18px;
  height: 6px;
  background: #ddd;
  border-radius: 999px;
}

.example-track.example-track-0 {
  background: #020029;
}

.example-thumb {
  cursor: pointer;
  top: 8px;
  width: 28px;
  height: 28px;
  background: #dddddd;
  color: rgb(48, 48, 48);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
